---
import "../styles/global.css";
import SectionHeader from "../components/SectionHeader.astro";
import ExperienceEntry from "../components/ExperienceEntry.astro";
import ProjectsEntry from "../components/ProjectsEntry.astro";
import Skills from "../components/Skills.astro";

// Import CV data from src/data
import cv from "../data/cv_data.json";

// Helper function for icons
const renderIcon = (icon: string): string => {
	if (icon === "linkedin") {
		return `<svg width="16" height="16" viewBox="0 0 171.17006 170.83134" version="1.1" aria-hidden="true" style="display: inline-block; vertical-align: middle;">
              <g transform="translate(-612.65109,-445.73612)">
                <path style="fill:#2867b2" d="m 621.36506,616.125 c -5.76547,-1.85157 -9.53399,-7.88474 -8.56116,-13.80381 0,-49.06781 0,-98.13563 0,-147.20345 1.93844,-5.24164 6.84844,-10.27591 12.8238,-9.2468 49.69872,0 99.39745,0 149.09617,0 5.50164,2.01692 9.94406,7.5849 8.96,13.59357 0,49.23987 0,98.47975 0,147.71962 -1.93838,5.24272 -6.84845,10.27308 -12.8238,9.24986 -49.47079,-0.0681 -98.94678,0.35367 -148.41343,-0.19065 l -1.08158,-0.11829 z m 42.15884,-65.45406 c 0,-13.65333 0,-27.30667 0,-40.96 -8.53333,0 -17.06667,0 -25.6,0 0,27.30667 0,54.61333 0,81.92 8.53333,0 17.06667,0 25.6,0 0,-13.65333 0,-27.30667 0,-40.96 z m 41.36505,17.2 c 0.49188,-9.64585 -1.01459,-19.63592 1.58528,-29.01264 2.51469,-8.05391 12.47774,-10.41705 19.55069,-7.44053 8.45459,4.60651 6.53904,15.60146 6.89607,23.61761 0.0509,12.19844 0.0299,24.39704 0.043,36.59556 8.54599,0 17.09198,0 25.63797,0 -0.27048,-19.50904 0.27243,-39.05432 -0.72479,-58.53422 -1.04772,-11.24929 -8.49906,-22.63689 -20.2822,-24.51799 -11.52463,-2.86372 -25.18011,-0.15225 -32.22289,10.11659 -2.4697,5.08962 -1.24442,-2.05372 -1.52809,-4.28768 0.74255,-3.75704 -0.34788,-5.6811 -4.34677,-4.6967 -6.76441,0 -13.52882,0 -20.29323,0 0,27.30667 0,54.61333 0,81.92 8.52203,0 17.04406,0 25.56609,0 0.0396,-7.92 0.0793,-15.84 0.11892,-23.76 z m -49.71416,-69.96626 c 10.98336,-2.8443 13.87036,-18.86216 4.82332,-25.54514 -8.28385,-7.48222 -23.47373,-1.45213 -23.92057,9.86619 -1.4792,9.81103 8.55039,18.57212 18.08499,15.93739 l 1.01226,-0.25848 z" id="path1" />
              </g>
            </svg>`;
	} else if (icon === "github") {
		return `<svg aria-hidden="true" viewBox="0 0 24 24" width="16" height="16" style="display: inline-block; vertical-align: middle;">
              <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.865 8.166 6.84 9.48.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.696-2.782.602-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.027 1.531 1.027.892 1.526 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.258-4.551-1.11-4.551-4.935 0-1.09.39-1.988 1.029-2.688-.103-.258-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026.797-.22 1.65-.33 2.503-.33.854 0 1.708.11 2.503.33 1.91-1.296 2.75-1.026 2.75-1.026.546 1.378.202 2.392.098 2.65.64.7 1.028 1.598 1.028 2.688 0 3.834-2.339 4.675-4.566 4.922.359.309.675.92.675 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.579.687.479C19.137 20.156 22 16.425 22 12c0-5.523-4.477-10-10-10z" clip-rule="evenodd"></path>
            </svg>`;
	} else if (icon === "www") {
		return `
		<svg width="16" height="16" version="1.0" viewBox="0 0 1280 1280" style="display: inline-block; vertical-align: middle;" xmlns="http://www.w3.org/2000/svg">
<metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata>
<g transform="translate(0 1280) scale(.1 -.1)">
<path d="m6025 12789c-396-23-822-89-1200-186-1353-345-2549-1119-3427-2216-1060-1326-1547-3011-1357-4702 189-1683 1037-3214 2375-4287 845-677 1851-1128 2919-1308 1796-304 3636 174 5055 1311 1824 1463 2707 3770 2320 6066-439 2606-2474 4698-5070 5212-511 101-1094 141-1615 110zm125-1784v-1275h-117c-322 0-987 57-1418 120-218 32-452 74-460 82-13 13 158 423 280 673 446 909 1017 1492 1620 1655 39 10 76 19 83 19 9 1 12-260 12-1274zm680 1228c561-186 1106-760 1524-1606 129-263 305-682 291-695-8-8-242-50-460-82-433-64-1095-119-1422-120h-113v1275 1276l38-7c20-3 84-22 142-41zm-2089-265c-419-463-764-1056-1036-1780-44-118-57-142-72-140-114 19-565 164-788 254-215 87-585 275-585 297 0 14 190 192 330 311 495 418 1041 745 1640 982 185 74 579 206 618 207 7 1-41-59-107-131zm3366 86c785-243 1452-603 2073-1120 149-124 360-320 360-334 0-22-329-191-556-285-222-93-687-244-817-267-15-2-28 22-71 137-283 752-645 1366-1081 1833-42 45-72 82-66 82s77-21 158-46zm-6094-1888c337-210 824-412 1332-551 77-21 143-41 147-45 4-3-1-37-12-75-172-590-309-1388-365-2120-15-196-35-584-35-677v-48h-1291-1292l7 113c69 1111 453 2184 1109 3092 78 108 288 375 295 375 2 0 50-29 105-64zm8989-68c538-670 921-1441 1128-2267 85-339 144-721 166-1073l6-108h-1291-1291v43c0 78-20 480-30 622-56 750-175 1471-349 2105-22 80-37 147-33 151 4 3 70 23 147 44 518 142 1026 355 1360 569 39 25 72 46 75 46s53-60 112-132zm-6812-677c553-99 1354-180 1790-181 52 0 112-3 133-6l37-7v-1288-1289h-1291-1291l6 108c3 59 8 163 11 232 35 779 170 1627 372 2343 29 103 39 126 52 123 9-3 90-19 181-35zm4653-88c201-709 339-1586 372-2353 3-74 8-179 11-232l6-98h-1291-1291v1289 1289l31 6c17 3 77 6 133 6 500 0 1464 106 1987 219 3 0 22-56 42-126zm-5763-3230c0-94 20-482 35-678 56-728 190-1511 361-2108 14-48 24-90 22-91-1-2-70-22-153-46-507-143-970-337-1290-539-55-35-108-68-118-75-14-9-21-7-35 10-365 448-567 754-787 1194-108 217-134 275-219 493-220 561-355 1172-392 1775l-7 112h1292 1291v-47zm3070-1242v-1288l-37-7c-21-3-81-6-133-6-312 0-984-58-1415-121-137-20-505-84-549-95-22-5-25 2-59 123-201 710-337 1570-372 2348-3 72-8 176-11 233l-6 102h1291 1291v-1289zm3076 1192c-3-54-8-159-11-233-33-766-170-1638-372-2353-34-121-37-128-59-123-44 11-412 75-549 95-431 63-1103 121-1415 121-52 0-112 3-132 6l-38 7v1288 1289h1291 1291l-6-97zm3070-15c-63-1026-398-2023-971-2893-134-203-416-573-445-583-5-2-35 14-67 36-324 218-813 428-1358 582-82 24-152 44-153 46-2 1 8 42 21 91 173 601 304 1364 361 2103 15 181 36 590 36 688v42h1291 1292l-7-112zm-6146-4243v-1276l-37 7c-119 21-344 115-488 204-181 111-407 309-575 505-278 325-543 768-755 1265-69 162-146 362-141 367 6 6 245 49 426 77 436 67 1052 121 1423 125l147 1v-1275zm906 1265c474-27 924-75 1311-140 217-37 283-49 283-54 0-7-95-250-130-331-353-828-795-1438-1278-1762-164-110-410-219-559-248l-33-7v1276 1276h114c63 0 194-5 292-10zm-3362-418c141-386 346-814 547-1140 163-264 318-471 514-686 127-139 138-135-141-45-707 229-1324 559-1890 1010-186 148-454 390-454 408 0 10 126 85 265 157 147 76 352 164 545 234 159 57 523 168 555 169 17 1 27-18 59-107zm5666 53c321-94 568-186 822-308 107-51 328-174 347-193 7-7-54-67-195-194-655-588-1439-1024-2280-1270-56-17-105-30-109-30s35 46 87 102c236 257 409 494 598 818 156 268 351 685 466 997 31 83 54 133 63 133 8 0 98-25 201-55z"/>
</g>
</svg>
		`;
	} else {
		return icon;
	}
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{cv.personal.name} - CV</title>
	</head>
	<body class="font-sans bg-white text-black">
		<div class="page">
			<header class="text-center mb-8">
				<h1 class="text-3xl font-bold">{cv.personal.name}</h1>
			</header>

			<section class="mb-6">
				<SectionHeader title="Contact" />
				<div class="grid grid-cols-2 gap-2">
					{
						cv.personal.contacts.map((contact) => (
							<p>
								<span
									class="font-bold"
									set:html={renderIcon(contact.icon)}
								/>
								<a
									href={contact.link}
									class="text-blue-500 hover:underline"
								>
									{contact.text}
								</a>
							</p>
						))
					}
				</div>
			</section>

			<section class="mb-6">
				<SectionHeader title="Summary" />
				<p>{cv.summary}</p>
			</section>

			<section class="mb-6">
				<SectionHeader title="Technical Skills" />
				<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
					{cv.skills.map((skill) => <Skills skills={skill} />)}
				</div>
			</section>

			<section class="mb-6">
				<SectionHeader title="Experience" />

				{
					cv.experience.map((job) => (
						<ExperienceEntry
							title={job.title}
							time={job.time}
							location={job.location}
							description={job.description}
							listItems={job.listItems}
						/>
					))
				}
			</section>

			<section class="mb-6">
				<SectionHeader title="Education" />
				{
					cv.education.map((edu) => (
						<ExperienceEntry
							title={edu.title}
							time={edu.time}
							location={edu.location}
							description={edu.description}
							listItems={edu.listItems}
						/>
					))
				}
			</section>

			<section>
				<SectionHeader title="Projects" />
				{
					cv.projects.map((project) => (
						<ProjectsEntry
							title={project.title}
							time={project.time}
							description={project.description}
							listItems={project.listItems}
							githubLink={project.githubLink}
							websiteLink={project.websiteLink}
							techUsed={project.techUsed}
						/>
					))
				}
			</section>
		</div>
	</body>
</html>
